<mat-toolbar color="primary">
  <button (click)="sidenav.toggle()" mat-raised-button color="accent">
    <mat-icon>menu</mat-icon>
  </button>
  <span routerLink="/home" class="title">{{title}}</span>
</mat-toolbar>

  <mat-sidenav-container>
      <mat-sidenav #sidenav mode="side">
        <nav>
          <a mat-button
             class="nav-link"
             *ngFor="let link of links"
             [routerLink]="link.path"
             routerLinkActive="active">
             <mat-icon>{{link.icon}}</mat-icon>
             {{link.label}}
          </a>
        </nav>
      </mat-sidenav>

    <router-outlet></router-outlet>
  </mat-sidenav-container>
