mat-toolbar {
  z-index: 10;
  position: relative;
}

mat-sidenav {
  width: 200px;
}

span {
  font-size: 25px;
}

span.title {
  margin: 0 auto;
}

span:hover {
  cursor: pointer;
}

a.ventur {
  color: white;
  text-decoration: none;
}

.mat-sidenav-container {
  background: whitesmoke;
  flex: 1;
}

.nav-link {
  color: rgba(0,0,0,.54);
  display: flex;
  align-items: center;
  padding-top: 5px;
  padding-bottom: 5px;
}
