mat-card {
  padding-top: 0;
}

mat-card-title h1 {
  margin-bottom: 0;
}

hr {
  width: 100%;
  border: 0;
  height: 1px;
  background-image: linear-gradient(to right, #ff408062, #ff40809d, #ff4081, #ff40809d, #ff408062);
}

hr.small {
  width: 80%;
}

mat-form-field {
  width: 100%;
  margin-left: 6px;
  margin-right: 6px;
}

.search-card {
  grid-column: 4/7;
  grid-row: 1;
  margin-top: 10px;
}

.artist-card {
  grid-column: 4/7;
  grid-row: 2;
}

p.followers {
  margin-left: 3px;
  color: rgba(0, 0, 0, 0.555);
}

img.mat-list-icon {
  border-radius: 5px !important;
  width: 100px !important;
  height: auto !important;
}

mat-list-item {
  height: 100% !important;
}

/* smaller screens */
@media screen and (max-width: 1600px) {
  .search-card {
    grid-column: 3/8;
  }

  .artist-card {
    grid-column: 3/8;
  }
}

@media screen and (max-width: 1000px) {
  .search-card {
    grid-column: 2/9;
  }

  .artist-card {
    grid-column: 2/9;
  }
}

@media screen and (max-width: 600px) {
  .search-card {
    grid-column: 1/10;
  }

  .artist-card {
    grid-column: 1/10;
  }
}
