mat-card {
  padding-top: 0;
}

hr {
  width: 80%;
  border: 0;
  height: 1px;
  background-image: linear-gradient(to right, #ff408059, #ff4081, #ff408059);
}

mat-form-field {
  width: 100%;
  margin-left: 6px;
  margin-right: 6px;
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  grid-auto-rows: minmax(100px, auto);
}

.search-card {
  grid-column: 2/3;
  grid-row: 1;
  margin-top: 10px;
}

.artist-card {
  grid-column: 2/3;
  grid-row: 2;
}

p.followers {
  margin-left: 3px;
  color: rgba(0, 0, 0, 0.555);
}

img.mat-list-icon {
  border-radius: 5px !important;
  width: 100px !important;
  height: auto !important;
}

mat-list-item {
  height: 100% !important;
}
